{% extends 'base.html' %}
{% load static %}
{% block content %}
<html>

<head>
    <title>Add a Customer</title>
</head>

<body>
    <h1>Add a new Customer</h1>
    <form class="form" method="post" action={% url "create_customer" %} enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="Name">Name </label>
            <input type="text" name="name" required>
        </div>
        <div class="form-group">
            <label for="Email">Email </label>
            <input type="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="Phone">Phone</label>
            <input type="tel" name="phone" required>
        </div>
        <div class="form-group">
            <label for="Address">Address</label>
            <input type="text" name="address" required>
        </div>
        <div class="form-group">
            <label for="Social Media">Social Media</label>
            <input type="text" name="Social Media" required>
        </div>
        <button type="submit" class="btn btn-success">Add</button>
        <p> {{ msg }} </p>
    </form>
</body>

</html>
{% endblock content %}
