<!DOCTYPE html>
<html lang="en">
<head>
     {% load static %}
    <meta charset="UTF-8">
</head>

<body>
<!-- Add a Navigation bar -->

<div class=""> <!--Stylize the root div with .container class -->
    <h2>{{ course.name }}</h2>
    <div class=""> <!--Stylize the second level card columns div with .card-columns-vertical class-->
        {% for lesson in course.lesson_set.all %}
        <div class=""> <!--Stylize the third level lesson div with .card class-->
            <div class="">Lesson {{lesson.order|add:1}}: {{lesson.title}}</div> <!--Stylize the fourth level lesson header  div with .card-header class-->
            <div class="">{{lesson.content}}</div>  <!--Stylize the fifth level lesson content div with .card-body class-->
        </div>
        {% endfor %}
    </div>
</div>
</body>

</html>